[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[phases.start]
cmd = "npm start"

[variables]
NIXPACKS_NODE_VERSION = "22.12.0"